@font-face {
	font-family: "BioSans";
	src: url("/fonts/Bio-Sans.woff") format("woff"),
		 url("/fonts/Bio-Sans.woff2") format("woff2");
}
@font-face {
	font-family: "BioSansBold";
	src: url("/fonts/Bio-Sans-Bold.woff") format("woff"),
		 url("/fonts/Bio-Sans-Bold.woff2") format("woff2");
}
body {
	margin: 0;
	font-size: 28px;
	font-family: 'BioSans', sans-serif;
	transition: 0.2s all;
	width: 100%;
	overflow-x: hidden;
}

#hereLink {
	cursor: pointer;
	text-decoration: underline;
}

#dealer-inspire-directions {
	cursor: pointer;
	color: #fff;
    transition: 0.2s all;
}

#formFrame {
	position: absolute;
	background: #393e46;
	height: 1350px;
	width: 40vw;
    min-width: 350px;
	left: 50%;
	top: 100%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

#promo-paragraph {
	color: #010E30;
	margin: 0;
	font-size: 3.5vh;
	padding: 5vh 0;
}

#navbar {
  background-color: #fff;
  z-index: 1;
  height: 11vh;
  border-bottom: 0.5vh solid #0065ff;
}

.fakehr {
	position: absolute;
	left: 50%;
	top: 83%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: white;
	height: 3px;
	width: 90%;
}

#register2 {
	position: relative;
	height: 40vh;
	background-image: url("images/net.webp");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#register2-shade {
	color: white;
	grid-template: 25% 30% 23% 22% / 11% 67% 11%;
    display: grid;
	background-color: rgba(1, 14, 48, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}

#register-footer {
	position: relative;
	height: 30vh;
	background-image: url("images/net.webp");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#register-footer-shade {
	color: white;
	grid-template: 25% 20% 23% 22% / 11% 66% 11%;
    display: grid;
	background-color: rgba(1, 14, 48, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}

#what-are-you-waiting-for {
	grid-area: 2/2/3/3;
	font-size: 4.2vh;
}

.di-logo {
	position: absolute;
	bottom: 11%;
	right: 5%;
	height: 13vh;
}

#description-faq {
	display: flex;
	flex-wrap: wrap;
	padding: 0 11%
}

#venue-container {
	display: flex;
	flex-wrap: wrap;
	padding: 0 11%;
	margin-bottom: 4vh;
}

#register-info {
	line-height: 40vh;
    text-align: center;
	color: white;
	background: #0065ff;
	border-radius: 10px;
	padding: 2vh 3vh;
	font-size: 5vh;
}

#item9-br {
	display: none !important;
}

#register-container {
	height: 70vh;
	width: 100%;
	text-align: center;
}

#venue, #contact {
	float: right;
	opacity: 1;
}

#hftw {
	width: 0;
	height: 75%;
	margin: 0 0 0 11%;
}

.dark-logo {
	transition: 0.2s all;
    height: 100%;
	padding: 1.5vh;
	cursor: pointer;
}

#navbar a {
  display: block;
  color: #0065ff;;
  text-align: center;
  padding: 3.5vh;
  text-decoration: none;
  font-size: 3vh;
  transition: 0.2s all;
  cursor: pointer;
}

.register-button {
	display: table;
	background: #0065ff;
	width: fit-content;
	width: -moz-fit-content;
	grid-row: 5/6;
	grid-column: 2/3;
	text-decoration: none;
	padding: 2vh 3vh;
	font-size: 4vh;
	border-radius: 40px;
	transition: 0.2s all;
	color: white;
	font-family: 'Chakra Petch', sans-serif;
}


.register-button-2 {
  display: table;
  background: #0065ff;
  width: fit-content;
  width: -moz-fit-content;
  grid-area: 3/2/4/3;
  text-decoration: none;
  padding: 2vh 3vh;
  font-size: 4vh;
  border-radius: 40px;
  transition: 0.2s all;
  color: white;
  font-family: 'Chakra Petch', sans-serif;
}

#logo-parent {
	height: 75vh;
	padding: 16px;
	background-image: url("images/parallax1.webp");
	background-attachment: fixed;
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
	position: relative;
	color: white;
}

#logo-div {
	display: grid;
	grid-template: 35% 20% 6% 9% 12% / 11% 78% 11%;
    background-color: rgba(1, 14, 48, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	height: 100%;
}

#logo-caption {
	grid-row: 2/3;
	grid-column: 2/3;
	font-size: 5.5vh;
}

#place-and-date {
	grid-row: 3/4;
	grid-column: 2/3;
	font-size: 4vh;
	margin: 0;
}

.small {
	display: none !important;
}

.big {
	display: block !important;
}

#faq {
	grid-row: 3/4;
	grid-column: 2/5;
	margin: 0;
}

.title {
	color: #010E30;
	font-size: 5vh;
	width: 100%;
	font-weight: 700;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.faq-item {
	color: #010E30;
	font-size: 3vh;
	padding: 2.5vh 0;
	flex: 47%;
	border: 1vw solid transparent;
}

.venue-item {
	background: #0065ff;
	border-radius: 12px;
	width:100%;
	flex: 40%;
	color: white;
	font-size: 4vh;
	padding: 2.5vh 1.5vw;
	margin: 0.5vw;
}

.venue-img {
	padding: 0 !important;
	width: 39vw;
	object-fit: contain;
	max-width: 100%;
	max-height: 100%;
	height: auto;
}

.venue-img-div {
	object-fit: contain;
	max-height: 100%;
	height: auto;
}

#map {
	border: 0;
    width: 100%;
	height: 58vh;
	border-radius: 12px;
}

#map-container-container {
	padding: 0 11%;
	margin-top: 10%;
	display: flex;
}

#view-on-maps {
	background-color: white;
	color: #0065ff;
	border-radius: 40px;
	border: none;
	padding: 2vh 3vh;
	font-size: 4vh;
	font-family: "BioSans";
	text-decoration: none;
	transition: 0.2s all;
}

.di-title {
	font-size: 5vh;
	font-weight: 700;
}

.faq-item strong {
	line-height: 250%;
}

#item9 {
	padding-bottom: 7vh;
}

#sponsors-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 11% 10vh 11%;
}

#sponsors-list img {
    height: 15vh;
    padding: 2vh 2.5vh;
}

#sponsors-title {
    margin: 0 0 4vh 0;
}

@media not all and (pointer: coarse) {
    #dealer-inspire-directions:hover {
		cursor: pointer;
		color: #00f3ff;
	}
	#hereLink:hover{
		cursor: pointer;
		color: #00f3ff;
	}
	.dark-logo:hover {
		background-color: #0065ff !important;
	}
	#navbar a:hover {
		background-color: #0065ff;;
		color: white;
	  }
	#navbar a.active {
		background-color: #393e46;
		color: white;
	}
	.register-button-2:hover {
		font-size: 5vh;
		cursor : pointer;
	}
	.register-button:hover {
		font-size: 5vh;
		cursor : pointer;
	}
	#view-on-maps:hover {
		font-size: 5vh;
	}
}

@-moz-document url-prefix() {
	#dealer-inspire-directions:hover {
		cursor: pointer;
		color: #00f3ff;
	}
	#hereLink:hover{
		cursor: pointer;
		color: #00f3ff;
	}
	.dark-logo:hover {
		background-color: #0065ff !important;
	}
	#navbar a:hover {
		background-color: #0065ff;;
		color: white;
	  }
	#navbar a.active {
		background-color: #393e46;
		color: white;
	}
	.register-button-2:hover {
		font-size: 5vh;
		cursor : pointer;
	}
	.register-button:hover {
		font-size: 5vh;
		cursor : pointer;
	}
	#view-on-maps:hover {
		font-size: 5vh;
	}
}

@media only screen and (orientation : portrait) {
    #break {
		display: none;
	}
	#logo-caption {
		font-size: 4vh;
	}
	#place-and-date {
		font-size: 3vh;
	}
	#logo-div {
		grid-template: 35% 22% 6% 9% 10% / 11% 78% 11%;
	}
	#description-faq {
		flex-direction: column;
	}
	#promo-paragraph {
		font-size: 3vh;
		padding: 3vh 0;
	}
	.faq-item {
		padding: 1.5vh 0;
		border: none;
	}
	.small {
		display: block !important;
	}
	.big {
		display: none !important;
	}
	#register2-shade {
		grid-template: 17% 21% 32% 22% / 11% 78% 11%;
		justify-items: center;
	}
	#what-are-you-waiting-for {
		grid-area: 2/2/3/3;
		font-size: 3.7vh;
	}
	.di-logo {
		position: static;
		height: 6vh;
	}
	.di-logo-container {
		grid-area: 	4/2/5/3;
	}
	#map-container-container {
		margin-top: 30%;
	}
	.venue-item {
		flex: 100%;
		padding: 5vh 5vw;
		text-align: center;
		margin: 3vw 0;
	}
	#view-on-maps {
		font-size: 2.5vh;
	}
	.venue-img {
		width: auto;
	}
	.venue-img-div {
		width: auto;
	}
    #sponsors-list img {
        height: 10vh;
    }
}

@media only screen 
and (min-device-width : 360px) 
and (orientation : portrait) {
	#navbar a {
		padding: 3.5vh 2vh 3.5vh 2vh;
	}
	#logo-div {
		grid-template: 30% 20% 8% 15% 10% / 11% 78% 11%;
	}
	#logo-caption {
		font-size: 3.6vh;
	}
	.register-button {
		font-size: 3vh;
	}
	#promo-paragraph {
		font-size: 2.5vh;
	}
	#what-are-you-waiting-for {
		font-size: 3vh;
	}
	.faq-item {
		font-size: 2.75vh;
	}
	#item9-strong1 {
		line-height: normal;
	}
	#item9-br {
		display: block !important;
	}
}
