/* Navigation */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: #221307;
	color: #fff;
  }
  
  .logo img {
	height: 60px;
  }
  
  .nav-links {
	list-style: none;
	display: flex;
  }
  
  .nav-links li {
	padding: 0px 20px;
  }
  
  .nav-links a {
	color: #fff;
	text-decoration: none;
	font-size: 1.5em;
  }

	nav .logo img {
	width: 350px; 
	height: auto; 
  }
  
  .nav-links a:hover {
	color: #00ff94;
  }

  body {
	margin: 0;
  }
  
  /* Main */
  .main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #3b3b3b;
	background-image: url("images/rainforest2.jpg");
	background-size: cover;
	background-position: center;
	color: #fff;
	text-align: center;
	user-select: none;
  }

  .main h1 {
	font-size: 4em;
	margin-bottom: 20px;
	text-shadow: 2px 2px #000;
  }
  
  .event-info {
	background-color: #221307;
	padding: 20px;
	border-radius: 10px;
  }
  
  .event-info h2 {
	font-size: 2em;
	font-weight: 500;

	margin-bottom: 20px;
  }
  
  .event-info p {
	font-size: 1.2em;
	margin-bottom: 20px;
  }

  .event-info a {
	display: block;
	width: fit-content;
	margin: 0 auto;
  }

  a[href="registration-form-url"] {
	display: inline-block;
	background-color: #1B5E20;
	color: white;
	font-size: 1.5em;
	padding: 10px 30px;
	border-radius: 25px;
	text-decoration: none;
	max-width: 4000px;
  }
  
  
  .event-info a {
	display: block;
	background-color: #1B5E20;
	color: #fff;
	text-decoration: none;
	font-size: 1.2em;
	padding: 10px 20px;
	border-radius: 5px;
  }
  
  .event-info a:hover {
	background-color: #009058;
  }
  
  .scroll-down {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
  }
  
  .scroll-down img {
	width: 350px;
	animation: scroll-down 2s infinite;
  }
  
  @keyframes scroll-down {
	0% {
	  transform: translateY(0);
	}
	50% {
	  transform: translateY(20px);
	}
	100% {
	  transform: translateY(0);
	}
  }
  
  /* FAQ */
  .faq {
	padding: 80px 0px;
	background-color: #1B5E20;
	text-align: center;
  }
  
  .faq h2 {
	font-size: 2.5em;
	margin-bottom: 20px;
	color: #fff;
  }
  
  .faq-item {
	margin-bottom: 40px;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
  }
  
  .faq-item h3 {
	font-size: 1.8em;
	margin-bottom: 10px;
	color: #fff;
  }
  
  .faq-item p {
	font-size: 1.2em;
	margin-bottom: 10px;
	color: #fff;
  }

  /* Footer */
footer {
	background-color: #432B0E;
	color: #ffffff;
	padding: 20px;
	text-align: center;
  }
  
  /* Venue */
  section.venue {
	background-color: #1B5E20;
	padding: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
	user-select: none;
  }

  .center-heading {
	text-align: center;
	background-color: #1B5E20;
  }
  
  section.venue h2 {
	font-size: 36px;
	margin-bottom: 30px;
	background-color: #1B5E20;
  }

  section.venue h3 {
	background-color: #1B5E20;
  }


  section.venue h1 {
	font-size: 46px;
	margin-bottom: 15px;
	background-color: #1B5E20;
  }
  
  section.venue p {
	font-size: 18px;
	margin-bottom: 30px;
	background-color: #1B5E20;
	text-align: center;
  }
  
  section.venue .venue-description {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1B5E20;
	margin-bottom: 30px;
  }
  
  section.venue .venue-description img {
	max-width: 100%;
	background-color: #1B5E20;
  }
  
  section.venue .parking-info {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1B5E20;
  }
  
  section.venue .parking-info img {
	max-width: 50%;
	background-color: #1B5E20;
  }
  
  section.venue .map {
	width: 100%;
	height: 400px;
	margin-bottom: 30px;
	background-color: #1B5E20;

  }

  .venue-images {
	margin: 30;
	padding: 0;
	text-align: center;
	color: #fff;
	background-color: #1B5E20;
  }
  
  .venue-images h2 {
	font-size: 36px;
	margin-bottom: 30px;
	background-color: #1B5E20;

  }
  
  .image-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
	background-color: #1B5E20;
  }
  
  .image-grid img {
	width: 100%;
	height: auto;
	border-radius: 10px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
	background-color: #1B5E20;
  }
  
  
  .map-container {
	border: 2px solid #ddd;
	border-radius: 8px;
	margin: 1em auto;
	max-width: 800px;
	background-color: #1B5E20;
	overflow: hidden;
  }

  .hotel-info{
  	background-color: #1B5E20;
  	margin: 0;
	padding: 0;

  }

  #faq-button,
#venue-button,
#contact-button,
#discord-button {
  background-color: #1B5E20;
  color: #FFF;
  font-size: 30px;
  font-weight: bold;
  padding: 20px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#faq-button:hover,
#venue-button:hover,
#contact-button:hover,
#discord-button:hover {
  background-color: #4CAF50;
}



